<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h2> User List :</h2>
            <a href="/" class="col">Home</a>
            <a href="/users/create" class="col">Add new user</a>
            <table class="table">
                <thead>
                    <th>Fist Name</th>
                    <th>Last Name</th>
                    <th>Mobie Number</th>
                    <th>User Name</th>
                    <th>Password</th>
                </thead>
                <tbody>
                    <% users.forEach(e=>{ %>
                        <tr>
                            <td><%= e.first_name %></td>
                            <td><%= e.last_name %></td>
                            <td><%= e.mobie_number %></td>
                            <td><%= e.user_name %></td>
                            <td><%= e.password %></td>
                        </tr>    
                   <% }) %>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>